@charset "UTF-8";

@keyframes botoa {
    form {width: 60px;}
    to {width: 65px; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.52);}
}

@keyframes ao-clicar {
        to {
             width: 60px;
        }
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

body {
    background: url('../imagens/fundo-madeira.jpg') top center
     no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );

    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
    width: 290px;
}

iframe#tela {
    position: relative;
    top: 70px;
    left: 19px;
    width: 235px;
    height: 413px;
    border-radius: 8px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 60px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
}

section#redes-sociais img:hover {
    animation-name: botoa;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

section#redes-sociais img:active {
    animation-name: ao-clicar;
    animation-duration: 2s;

}

